body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#chatroom {
    width: 90%;
    height: 90%;
    border: 1px solid #ddd;
    border-radius: 30px; /* Add round corners to the input-container */
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 1rem;
    overflow-y: auto;
}

#input-container {
   display: flex;
    align-items: center;
    padding: 15px; /* Add padding around the input-container */
    gap: 10px; /* Add dynamic space between the message input and send button */
}

#message {
    flex-grow: 1;
    height: 40px; /* Increase the height of the input box */
    padding: 10px 30px; /* Add padding inside the input box */
    border-radius: 30px; /* Add round corners to the input box */
}

#send-button:hover {
    color: #007bff;
}

#send-button {
    background-color: #a4a4a4;
    border: none;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    height: 45px; /* Increase the height of the send button */
    width: 45px; /* Set the width of the send button to match its height */
    border-radius: 50%; /* Add round corners to create a circle shape */
    display: flex; /* Use flexbox to center the icon */
    justify-content: center; /* Center the icon horizontally */
    align-items: center; /* Center the icon vertically */
}

.message-wrapper {
    display: inline-block;
    width: 100%;
}

.message-content {
    display: inline-block;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.timestamp {
    display: block; /* Changed to block */
    font-size: 12px;
    text-align: left;
    margin-bottom: 15px;
    padding-left: 30px;
}

.user-message .message-content {
    background-color: #cce5ff;
}

.assistant-message .message-content {
    background-color: #f8d7da;
}

